@import url("fonts.css");

html {
	background: url('../img/banner.png') no-repeat center center fixed;
	background-size: cover;
	text-shadow: 2px 2px #222222;
}

.header {
	font-family: "QGRegular";
	font-size: 32px;
	color: white;
	text-align: center;
	background-image: url('../img/MGwinglogopixel.png');
	background-size: contain;
	margin-top: 50px;
	padding: 50px;

}


.pics {
	display: inline-grid;
	align-content: center;
	justify-content: center;
}
.pics img{
	position: relative;
	padding: 5px;
	width: 443px;
	justify-content: center;
}